
@import "common";


.product {

    &-img {
        width: 100%;
        height: 350px;
        padding: 7px;
        background-color: rgb(234, 233, 233);
        border-radius: 5px;
    }
}

.mision {
    padding-top: 2em;
    padding-bottom: 2em;

    &-item {
        width: 100%;
        height: 170px;
        background-color: rgb(196, 196, 196);
    }
}

.key-market-sectors {
    .item {
        width: 100%;
        height: 300px;
        background-color: rgb(196, 196, 196);
    }

    .btn-primary {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    .btn-warning {
        background-color: #ff8f00;
        border-color: #ff8f00;
        outline: none;
    }
}

.articles {
    padding-top: 2em;
    padding-bottom: 2em;
}

.company-vision {
    background-color: #ff8400;

    .vision-text {
        &::before {
            content: '“';
            font-size: 30px;
            margin-right: 5px;
        }
        &::after {
            content: '”';
            font-size: 30px;
            margin-left: 5px;
        }
    }
}


.core-value {

    &-item {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    .text-wrapper {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        border-radius: 5px;
        background-color: #32617d91;
        height: 100%;
        width: 100%;
    }

    &-item:hover {
        scale: 1.05;
        transition: all 0.5s;
    }
}