
@import "common";


.product {

    &-img {
        width: 100%;
        height: 350px;
        padding: 7px;
        background-color: rgb(196, 196, 196);
    }
}

.gallery {
    padding-top: 2em;
    padding-bottom: 2em;

    &-item {
        width: 100%;
        height: 170px;
        background-color: rgb(196, 196, 196);
    }
}

.key-market-sectors {
    .item {
        width: 100%;
        height: 300px;
        background-color: rgb(196, 196, 196);
    }

    .btn-primary {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    .btn-warning {
        background-color: #ff8f00;
        border-color: #ff8f00;
        outline: none;
    }
}

.articles {
    padding-top: 2em;
    padding-bottom: 2em;
}