@use '../utilities/' as *;

.mision {
    padding-top: 2em;
    padding-bottom: 2em;

    &-item {
        width: 100%;
        height: 170px;
        background-color: $bg-dark-secondary;
    }
}

.company-vision {
    background-color: $c-orange;

    .vision-text {
        &::before {
            content: '“';
            font-size: 30px;
            margin-right: 5px;
        }
        &::after {
            content: '”';
            font-size: 30px;
            margin-left: 5px;
        }
    }
}

.core-value {

    &-item {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    .text-wrapper {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        border-radius: 5px;
        background-color: #32617d91;
        height: 100%;
        width: 100%;
    }

    &-item:hover {
        scale: 1.05;
        transition: all 0.5s;
    }
}

.why-rta {
    .title {
        background-color: $primary-dark;
    }

    .desc {
        margin-top: 20px
    }

    &-items {
        width: 200px;
        height: 150px;
    }
}