
@use '../utilities/' as *;

.product {
    &-img {
        width: 100%;
        height: 350px;
        padding: 7px;
        background-color: $bg-dark-secondary;
    }
}

.gallery {
    padding-top: 2em;
    padding-bottom: 2em;
    &-item {
        width: 100%;
        height: 170px;
        background-color: $bg-dark-secondary;
    }
}